<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213494682617-4cau4ftfvde02g0is91soojcm4sd0e5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213494682617-4cau4ftfvde02g0is91soojcm4sd0e5l</string>
	<key>API_KEY</key>
	<string>AIzaSyAMMHz6I__Go1NJQQ3RP13iML86D14_fDs</string>
	<key>GCM_SENDER_ID</key>
	<string>213494682617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviePlaylist</string>
	<key>PROJECT_ID</key>
	<string>movie-playlist-2af8e</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-playlist-2af8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213494682617:ios:54d5779960e20f0551a328</string>
</dict>
</plist>